<div class="web-sidebar-box">
    <div class="sidebar-clock">
        <canvas id="canvas" width="280" height="90">您的浏览器暂不支持HTML5的canvas属性，请更换浏览器试试</canvas>
    </div>

    <div class="sidebar-calendar">
        <div class="calendar"></div>
    </div>
</div>
<%- js('js/digit.js') %>
<%- js('js/clock.js') %>
<%- js('js/calendar.js') %>