<% if (site.posts.length){ %>
    <div class="web-sidebar-box box-item">
        <div class="sidebar-title">
            <h2>最新文章</h2>
        </div>
        <div class="latest-list">
            <ul class="item-box">
                <% site.posts.sort('date', -1).limit(20).filter(function(post, i){
                    return !post.hide && post.sort === 1 && page.path !== post.path;
                }).filter(function(o,i) {return i<10}).each(function(post, index){ %>
                    <li>
                        <a href="<%- url_for(post.path) %>">
                            <%= index+1 %>. <%= post.title || '(no title)' %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
<% } %>