<div class="web-sidebar-box box-item">
    <div class="sidebar-title">
        <h2>标签云</h2>
    </div>
    <div class="tag-list">
        <% site.tags.sort('date', -1).forEach(function(tag){ %>
            <label>
                <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                    <path d="M213.333333 447.99999999a64 64 0 0 1 64.00000001 64.00000001 64 64 0 0 1-64.00000001 64.00000001 64 64 0 0 1-64.00000001-64.00000001 64 64 0 0 1 64.00000001-64.00000001m213.333334 1e-8a64 64 0 0 1 64 64 64 64 0 0 1-64 64 64 64 0 0 1-64-64 64 64 0 0 1 64-64m213.333333 0A64 64 0 0 1 704 512 64 64 0 0 1 640 576a64 64 0 0 1-63.99999999-64A64 64 0 0 1 640 448M85.333333 896L725.333333 896c29.44 0 52.48-14.933333 67.84-37.546667L1024 512l-230.826667-346.026667c-15.36-22.613333-40.96-37.973333-70.4-37.973333L85.333333 128a85.333333 85.333333 0 0 0-85.333333 85.333333L0 810.666667a85.333333 85.333333 0 0 0 85.333333 85.333333z"></path>
                </svg>
                <a href="<%- url_for(tag.path) %>" target="_blank">
                    <%= tag.name %>
                </a>
            </label>
        <% }) %>
    </div>
</div>