*{margin:0;padding:0;box-sizing:border-box;}
body{font-family:'Microsoft YaHei';margin:5px;}
input[type='text']{display:block;margin:4px 0;height:30px;padding:0 4px;}
input[type='button']{display:block;margin:10px 0;height:30px;cursor:pointer;}
.btn-zone{margin:10px 0;}
.btn-zone button{margin:4px;padding:4px;cursor:pointer;}
.time-zone{margin:20px 0;}
.time-zone span{display:inline-block;border:1px solid #ccc;padding:5px 10px;}
.list-zone{}