<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h4>网站说明</h4>
        <div class="hline-w"></div>
        <p>{{ site.description }}</p>
        <!-- <p style="color:white">{{ site.license }}</p> -->
        <p>如有学习，请访问源码<a href="https://github.com/sensu-plugins/sensu-plugins.github.io" target="_blank">sensu-plugins.github.io</a></p>
      </div>

      <div class="col-lg-3">
        <h4>联系方式</h4>
        <div class="hline-w"></div>
        <p>QQ:XXXXXXX</p>
        <p>微信:XXXXXXX</p>
        <p>微博:XXXXXXX</p>
        <p>邮箱:<a href="mailto:xxx@163.com">xxx@163.com</a></p>
      </div>

      <div class="col-lg-3">
        <h4>Footer3</h4>
        <div class="hline-w"></div>
        <p>待定</p>
        <p>待定</p>
        <p>待定</p>
        <p>待定</p>
      </div>

      <div class="col-lg-3">
        <h4>Footer4</h4>
        <div class="hline-w"></div>
          <p>待定</p>
          <p>待定</p>
          <p>待定</p>
          <p>待定</p>
      </div>
    </div>
  </div>
</div>