<div class="web-footer">
    <h2 class="friend-state">友情声明</h2>
    <div class="coperation">
        <p>本网站部分资料来源于网络，如有任何问题可联系站主解决</p>
    </div>
    <div class="copyright">
        <span>Copyright &copy; 2021</span>
        <span class="dotted">|</span>
        <span>Powered by <a href="https://hexo.io/">Hexo</a></span>
        <span class="dotted">|</span>
        <span>Theme by <a href="javascript:">yaming042</a></span>
        <% if( !is_post()){ %>
        <span class="visitor_area" style="display:none;">
            <span class="dotted">|</span>
            <span>访问量 <i id="visit_count"></i></span>
        </span>
        <% } %>
        <!-- <span class="dotted">|</span>
        <span><a href="http://www.beian.miit.gov.cn" target="_blank">豫ICP备17028068号</a></span> -->
    </div>
    <script>
        var Y38adQ = '<%= config.tongjitoken %>',
            GgLpVi = '<%= config.siteid %>',
            ZayyCP = '<%= is_post() %>';
    </script>
    <%- js('js/tg.min.js') %>
</div>