.container-body{
    width: 801px;
    //box-shadow: rgb(74, 74, 74) 0px 1px 2px 0px;
    margin-right: 39px;
    padding-right: 40px;
    border-right: 1px solid #eee;
    
    .articles-options{
        font-size: 16px;
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #a7a7a7;
      
        .articles-navgation{
          width: 300px;
      
          svg{
            margin: 0 10px;
          }
        }
        .articles-action{
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
        
            &>div{
            margin: 0 10px;
            }
        }

        a{
            color: #3d3d3d;
        }
    }

    .articles-list{
        position: relative;
        font-size: 16px;

        .articles-item{
            margin-bottom: 40px;

            .title{
                margin-bottom: 8px;
                font-size: 18px;
                line-height: 24px;
                font-weight: bold;

                a{
                    color: #3d3d3d;
                }
            }
            .content{
                font-size: 14px;
                line-height: 22px;
                white-space: normal;
                color: #999;
                text-indent: 2em;
            }
            .articles-info{
                padding-top: 8px;
                font-size: 12px;
                color: #6b6b6b;

                & > span{
                    margin: 0 15px 0 0;
                }
            }
        }
    }
}