.web-footer{
    text-align: center;
    color: #666;
    margin: 0 auto;
    padding: 25px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);

    .friend-state{
      font-size: 12px;
      margin-bottom: 15px;
    }

    .coperation{
      font-size: 12px;
      margin-bottom: 10px;

      a{
        color: #838383;
      }
    }

    .copyright{
        .dotted{
            color: #b5b5b5;
            margin: 0 5px;
            font-size: 12px;
        }

        a, i{
            color: #000;
            font-weight: bold;
        }
    }
  }