* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  ul,ol{
    list-style: none;
  }
  
  html {
    width: 100%;
    height: 100%;
  }
  
  body {
    width: 100%;
    height: 100%;
    min-width: 1200px;
    font-size: 12px;
    color: #666;
    background: #FFF;
    // overflow-y: hidden;
  }
  
  a {
    text-decoration: none;
    color: #666;
  }
  
  a img {
    border: none;
  }
  
  i, em {
    font-style: normal;
  }
  
  
  table {
    border-collapse: collapse;
  }
  
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f0f0f0;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
  }
  input{
    &::-moz-placeholder {
      color: #C8C8C8;
      font-size: 12px;
    }
    &:-ms-input-placeholder { color: #C8C8C8;font-size: 12px; }
    &::-webkit-input-placeholder  { color: #C8C8C8;font-size: 12px; }
  }
  
  
  