---
layout: default
---
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>{{ page.title }}</h3>
    </div>
  </div>
</div>

<div class="container">
	<div class="article-left">
		<div class="row">
			<div class="col-lg-12">
				{{ content }}
			</div>
		</div>
		<p style="font-size:12px;color:#ccc;margin:0;">也许这个页面上有很多错误，还望您多多包涵，如有疑问可在下面留言，尽快给您回复，谢谢~</p>
		<!-- 多说评论框 start -->
		<div class="ds-thread" data-thread-key="{{site.url}}_{{page.title}}" data-title="{{page.title}}" data-url="{{site.url}}"></div>
		<!-- 多说评论框 end -->
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		var duoshuoQuery = {short_name:"yaming042"};
		  (function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		  })();
		  </script>
		<!-- 多说公共JS代码 end -->
	</div>
	<div class="article-right">
		
	</div>
</div>

